.checkout{
    text-align: center;
}

.checkout h1{
    font-size: 2rem;
    font-family: monospace;
    margin: 2rem;
}

.checkout p{
    margin: 1rem;
    font-size: 1.5rem;
    font-family: monospace;
}

.checkout form{
    border: 1.5px solid orange;
    border-radius: 5px;
    width: 40%;
    margin: 2rem auto;
}